/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
/* General styling the body */
body { 
  background-image: url('../images/site/small_check.jpg');
  font-size: 16px;
  width: 100%;
}
/*Parent DIV with ID wrapper*/
#wrapper { 
  background-color: white;
  min-width: 355px;
  margin: 0 auto;
  border: 2px solid aliceblue;
  border-radius: 2px;

}

/* Add padding to the main section elements */

header, main, ul, footer { 
  padding: 1rem;
}

/* Using Grid to layout the header */
header { 
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Styling the site name CSE Motors */
header .siteName a { 
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
}
header #tools { 
  display: flex;
  justify-self: end;
}

header #tools a { 
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-size: 1rem;
}

#wrapper h1 { 
  font-size: 1.75rem;
  /* color: red; */
}

nav ul { 
  display: flex;
  list-style: none;
}
nav ul li { 
  flex: 1 1 100%;
  background-color: #000;
}
nav ul li a { 
  display: block;
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5rem;
  text-align: center;
}
nav ul li a:hover { 
  background-color: white;
  color: black;
  border: 3.5px solid black;
}

main { 
  margin-top: -2rem;
  position: relative;
}

main .hero img { 
  width: 100%;
  height: auto;
}

.hero { 
  padding: 0 0.5rem;
  text-decoration: none;
}

main .hero .overlay-info { 
  position: absolute;
  top: 60px;
  background-color: rgba(225,225, 225, 0.2);
  width: 150px;
  margin: 0.75vh 0;
  padding: 0 0.25rem;

}
.hero .overlay-info p { 
  line-height: 5px;
  color: magenta;
  /* font-size: 18px; */
}
.hero .overlay-info p:nth-child(1) { 
 text-decoration: none;
}
.hero .overlay-info img { 
  width: 80%;
  height: auto;
}
/* Parent div for the next section */
.features { 
  background-color: white;
  display: grid;
  /* padding: 1rem; */
}

.features .upgrades { 
  background-color: white;
  /* background-color: red; */
  padding: 0rem;
}
/* Section with images */
.features .grade { 
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* background-color: red; */
  /* max-width: 300px; */
  /* margin: 0 auto; */
  padding: 0rem;
}
.features .grade img { 
  background-color: magenta;
  text-align: center;
  padding: .95em;
  overflow: hidden;
  width: 100%
}
.features .review { 
  background-color: white;
  grid: 1/2;
}
.features figure { 
  padding: 0px;
  text-align: center;
}



